* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}
.nav-section {
  text-align: center;
}
.nav-section img {
  width: 70px;
}
.menu-list {
  list-style: none;
  display: flex;
}
.menu-list li {
  padding: 10px;
}
.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  position: absolute;
  right: 20px;
  top: 140px;
}
.search input {
  border-width: 0px;
  border-bottom: 2px solid lightslategray;
  margin-left: 10px;
  padding-left: 10px;
}
.search input:focus {
  outline: none;
}

.product:hover img {
  transform: scale(1.1);
}
.nav-section {
  cursor: pointer;
}
.product {
  margin-bottom: 20px;
}
.product img {
  width: 100%;
}
